.App {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.Nav {
  text-align: center;
}
.Nav ul {
  display: inline-flex;
}

.total--wrapper {
  border: 1px solid black;
  width: 10rem;
  box-shadow: 2px 2px 2px 2px black;
  margin: 2rem;
  text-align: center;
}

.addForm--wrapper {
  border: 1px solid black;
  height: 20rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.addForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label {
  padding-top: 1rem;
  display: flex;
}
input {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-left: 2rem;
}

.dashHome {
  display: flex;
  flex-direction: row;
}